<% title "New Accession" %>

<% form_for [@accession, @lab_test_result] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :lab_test_id %><br />
    <%= f.collection_select :lab_test_id, LabTest.all, :id, :name %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>

<p><%= link_to "Back to List", accession_lab_test_results_path %></p>
