<% form_for @lab_test_critical_range do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :min %><br />
    <%= f.text_field :min %>
  </p>
  <p>
    <%= f.label :max %><br />
    <%= f.text_field :max %>
  </p>
  <p>
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </p>
  <p>
    <%= f.label :min_age %><br />
    <%= f.text_field :min_age %>
  </p>
  <p>
    <%= f.label :max_age %><br />
    <%= f.text_field :max_age %>
  </p>
  <p>
    <%= f.label :age_unit %><br />
    <%= f.text_field :age_unit %>
  </p>
  <p>
    <%= f.label :lab_test_id %><br />
    <%= f.collection_select :lab_test_id, LabTest.all, :id, :name %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
