<% title "Lab Test Panels" %>

<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Description</th>
    <th>Lab Tests</th>
  </tr>
  <% for lab_test_panel in @lab_test_panels %>
    <tr>
      <td><%=h lab_test_panel.code %></td>
      <td><%=h lab_test_panel.name %></td>
      <td><%=h lab_test_panel.description %></td>
      <td>
        <table><% for lab_test_panel_joint in lab_test_panel.lab_test_panel_joints %>
          <tr>
            <td><%=h lab_test_panel_joint.lab_test.name %></td>
          </tr>
        <% end %></table>
      </td>
      <td><%= link_to "Show", lab_test_panel %></td>
      <td><%= link_to "Edit", edit_lab_test_panel_path(lab_test_panel) %></td>
      <td><%= link_to "Destroy", lab_test_panel, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Lab Test Panel", new_lab_test_panel_path %></p>
