<% title "Lab Test Panel" %>

<p>
  <strong>Code:</strong>
  <%=h @lab_test_panel.code %>
</p>
<p>
  <strong>Name:</strong>
  <%=h @lab_test_panel.name %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @lab_test_panel.description %>
</p>

<p>
  <%= link_to "Edit", edit_lab_test_panel_path(@lab_test_panel) %> |
  <%= link_to "Destroy", @lab_test_panel, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", lab_test_panels_path %>
</p>
