<% title "Lab Test Departments" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for lab_test_department in @lab_test_departments %>
    <tr>
      <td><%=h lab_test_department.name %></td>
      <td><%= link_to "Show", lab_test_department %></td>
      <td><%= link_to "Edit", edit_lab_test_department_path(lab_test_department) %></td>
      <td><%= link_to "Destroy", lab_test_department, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Lab Test Department", new_lab_test_department_path %></p>
