<% labeled_form_for @lab_test do |f| %>
  <%= f.error_messages %>
  <%= f.collection_select :department_id, Department.all, :id, :name %>
  <%= f.text_field :code %>
  <%= f.text_field :name %>
  <%= f.collection_select :unit_id, Unit.all, :id, :name, :prompt => "Select", :label => "Units"%>
  <%= f.text_field :decimals %>
  <%= f.check_box :derivation %>
  <%= f.text_field :procedure %>
  <%= f.text_area :description %>

  <fieldset>
    <legend>Also Allow</legend>
    <%= f.check_box :also_numeric, :label => "Numeric" %>
    <%= f.check_box :ratio, :label => "N:N" %>
    <%= f.check_box :range, :label => "N–N" %>
    <%= f.check_box :fraction, :label => "N ⁄ N" %>
    <%= f.text_field :text_length, :label => "Text" %>
  </fieldset>
  
  <fieldset>
    <legend>Values</legend>
      <div class="values">
        <%= f.many_check_boxes :lab_test_value_ids, LabTestValue.all, :id, :value_with_flag %>
      </div>
  </fieldset>
  
  <%= f.submit "Submit" %>
<% end %>
