<% title "Lab Test" %>

<p>
  <strong>Department:</strong>
  <%=h @lab_test.lab_test_department.name %>
</p>
<p>
  <strong>Code:</strong>
  <%=h @lab_test.code %>
</p>
<p>
  <strong>Name:</strong>
  <%=h @lab_test.name %>
</p>
<p>
  <strong>CPT Code:</strong>
  <%=h @lab_test.procedure %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @lab_test.description %>
</p>
<p>
  <strong>Decimals:</strong>
  <%=h @lab_test.decimals %>
</p>
<p>
  <strong>Units:</strong>
  <%= @lab_test.lab_test_unit.name %>
</p>

<p>
  <%= link_to "Edit", edit_lab_test_path(@lab_test) %> |
  <%= link_to "Destroy", @lab_test, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", lab_tests_path %>
</p>
