<div class="requisition">
  <tr class="task">
    <td>
      <% unless accession.reported_at %>
        <div class="strip">Pending</div>
      <% end %>
    </td>
    <td><%=link_to accession.id, accession_results_path(accession) %></td>
    <td><%=h accession.drawn_at.strftime('%e/%m/%Y %l:%m%p') %></td>
    <td><%=h User.find(accession.drawn_by).initials if accession.drawn_by %></td>
    <td><%=h accession.reported_at.strftime('%e/%m/%Y %l:%m%p') if accession.reported_at %></td>
    <td><%=h accession.patient.full_name unless @patient %></td>
    <td><%=h accession.doctor.name if accession.doctor %></td>
    <td><%=h truncate(accession.order_list, :length => 30) %></td>
    <td>
      <small><%= link_to "Change Order", edit_accession_path(accession) %></small>
      <small><%= link_to "Delete", accession, :confirm => 'Are you sure?', :method => :delete %></small>
    </td>
  </tr>
</div>