<div class="accession">
  <tr class="task">
    <td>
      <% unless accession.reported_at %>
        <div class='meeting strip'>Pending</div>
      <% end %>
    </td>
    <td><%=h accession.drawn_at.strftime('%d/%m/%Y') %></td>
    <td><%=link_to accession.id, accession_results_path(accession) %></td>
    <td><%=h User.find(accession.drawn_by).initials if accession.drawn_by %></td>
    <td><%=h accession.reported_at.strftime('%d/%m/%Y') if accession.reported_at %></td>
    <td><%=h truncate(accession.order_list, :length => 30) %></td>
    <td>
      <small><%= link_to "Change Order", edit_accession_path(accession) %></small>
      <small><%= link_to "Delete", accession, :confirm => 'Are you sure?', :method => :delete %></small>
    </td>
  </tr>
</div>