<div class="accession">
  <tr class="<%= cycle("even", "odd") %>">
    <td><%=link_to accession.id, accession_results_path(accession) %></td>
    <td><%=h accession.drawn_at.strftime('%d/%m/%Y') %></td>
    <td><%=h accession.reported_at.strftime('%d/%m/%Y') if accession.reported_at %></td>
    <td><%=h accession.note %></td>
    <td>
      <%= link_to "Change Accession", edit_accession_path(accession) %>
      <%= link_to "Delete", accession, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
</div>