<li class='contact'>
  <div class="tools" style="display:none">
    <small>
      <% if accession.reported_at %>
        <%= link_to t('.change_results'), edit_results_accession_url(accession) %> |
      <% else %>
        <%= link_to t('.enter_results'), edit_results_accession_url(accession) %> |
      <% end %>
      <%= link_to t('.change_requisition'), edit_accession_path(accession)  %>
      <% if @current_user.admin? %>
        | <%= link_to t('.delete?'), accession, :method => :delete, :confirm => t('.confirm_destroy') %>
      <% end %>
    </small>
  </div>
  <%= link_to "#{t('.accession')} ##{accession.id}", accession_path(accession) %>
  <tt><%=h accession.patient.full_name unless @patient %></tt>
  <dt style='padding: 2px 0px 0px 0px'>
    <% if accession.reported_at %>
      <%= t('.reported_at') %><b><%=h l(accession.reported_at, :format => '%e %b %Y %l:%m%p') %></b>
      <%= t('.by') %><b><%=h User.find(accession.reported_by).initials if accession.reported_by %></b>
    <% else %>
      <%= t('.drawn_at') %><b><%=h l(accession.drawn_at, :format => '%e %b %Y %l:%m%p') %></b>
      by: <b><%=h User.find(accession.drawn_by).initials if accession.drawn_by %></b>
    <% end %>
    <% unless accession.doctor_id.blank? %>
      | <%= t('.ordered_by') %> <b>Dr. <%=h accession.doctor.name %></b>
    <% end %>
    | <%= t('.tests_ordered') %><b><%=h truncate(accession.order_list, :length => 30) %></b>
  </dt>
</li>
