<div class="log">
  <% unless @pending_accessions.blank? %>
    <h3 class="overdue">Pending Requisitions</h3>
    <ul>
      <%= render @pending_accessions %>
    </ul>
  <% end %>

  <% if @reported_accessions.blank? %>
    No requisitions yet. <%= link_to "Order Tests", new_patient_accession_path(@patient) %>
  <% else %>
    <h3 class="due_today">Requisition History</h3>
    <ul>
      <%= render @reported_accessions %>
    </ul>
  <% end %>

  <div id='paginate'>
    <%= twill_paginate @reported_accessions %>
    <div id="paging" style="display:none">  
      <%= image_tag("loading.gif", :size => "16x16") %>
    </div>
  </div>
</div>
