<%= render @accession.patient %>

<% labeled_form_for [@patient, @accession] do |f| %>
  <fieldset>
  <legend>Accession Details</legend>
    <%= f.error_messages %>
    <%= f.text_field :labels, :label => t('.labels') %>
    <%= f.text_field :drawn_at, :label => t('.drawn_at') %>
    <%= f.collection_select :drawn_by, User.all, :id, :username, :label => t('.drawn_by') %>
  </fieldset>

  <fieldset>
  <legend>Order Panels</legend>
    <div class="panels">
      <% for panel in LabTestPanel.all %>
        <div class="panel">
          <%= check_box_tag 'accession[lab_test_panel_ids][]', panel.id, @accession.lab_test_panels.include?(panel) %>
          <%=h panel.name %>
        </div>
      <% end %>
    </div>
  <%= hidden_field_tag 'accession[lab_test_panel_ids][]', '' %>
  </fieldset>
  
  <fieldset>
    <legend>Order Tests</legend>
    <div id="lab_tests">
      <ul>
        <% for department in LabTestDepartment.all %>
          <li><a href="#<%=h department.id %>"><%=h department.name %></a></li>
        <% end %>
      </ul>
        
      <% for department in LabTestDepartment.all %>
        <div id="<%= department.id %>">
          <% for lab_test in department.lab_tests %>
            <div class="lab_test">
              <%= check_box_tag 'accession[lab_test_ids][]', lab_test.id, @accession.lab_tests.include?(lab_test) %>
              <%=h lab_test.name %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </fieldset>
    
  <%= f.submit %>
<% end %>
