<% form_for @accession do |f| %>
  <%= f.error_messages %>
  <p>
    <strong><%= f.label :patient_id %>:</strong>
    <%= f.collection_select :patient_id, Patient.all, :id, :full_name %>
  </p>
  <p>
    <%= f.label :drawn_at %><br />
    <%= f.date_select :drawn_at %>
  </p>
  
  <h3>Lab Tests</h3>
  <table>
  <% for lab_test in LabTest.all %>
    <tr>
      <td><%= check_box_tag 'accession[lab_test_ids][]', lab_test.id, @accession.lab_tests.include?(lab_test) %></td>
      <td><%=h lab_test.name %></td>
    </tr>
  <% end %>
  </table>
  <%= hidden_field_tag 'accession[lab_test_ids][]', '' %>
    
  <p><%= f.submit "Submit" %></p>  
<% end %>
