<% javascript "jquery", "jquery-ui", "application" %>

<%= render @accession.patient %>

<% labeled_form_for [@patient, @accession] do |f| %>
  <fieldset>
  <legend>Accession Details</legend>
    <%= f.error_messages %>
    <%= f.collection_select :doctor_id, Doctor.all, :id, :name, { :include_blank => true }, :label => t('.doctor') %>
    <%= f.text_field :labels, :label => t('.labels') %>
    <%= f.text_field :drawn_at, :label => t('.drawn_at') %>
    <%= f.collection_select :drawn_by, User.all, :id, :username, :label => t('.drawn_by') %>
    <%= f.text_field :received_at, :label => t('.received_at') %>
    <%= f.collection_select :received_by, User.all, :id, :username, :label => t('.received_by') %>
  </fieldset>

  <fieldset>
  <legend>Order Panels</legend>
    <div class="panels">
      <%= f.many_check_boxes :panel_ids, Panel.all, :id, :name %>
    </div>
  </fieldset>
  
  <fieldset>
    <legend>Order Tests</legend>
    <div id="order_tests">
      <ul>
        <% for department in @departments %>
          <li><a href="#<%=h department.id %>"><%=h department.name %></a></li>
        <% end %>
      </ul>
        
      <% for department in @departments %>
        <div id="<%= department.id %>">
          <%= f.many_check_boxes :lab_test_ids, department.lab_tests, :id, :name %>
        </div>
      <% end %>
    </div>
  </fieldset>
    
  <%= f.submit %>
<% end %>
