<%= javascript "jquery" %>
<%= javascript "jquery-ui" %>
<%= javascript "pagination" %>
<%= javascript "application" %>

<div id="tabs">
  <ul>
    <li><%= link_to t('.patients'), :patients %></li>
    <li><%= link_to "Orders (#{Accession.pending.size})", :accessions, :class => "active" %></li>
  </ul>
</div>

<% flash.each do |name, msg| %>
  <div id="flash" class="flash_notice">
    <%=h msg %>
  </div>
<% end %>
