<% title "Enter Results" %>

<%= render @accession.patient %>

<% form_for @accession do |a| %>
  <%= a.error_messages %>
  
  <h3>Results</h3>
  <div class="results">
  <table>
    <% a.fields_for :lab_test_results do |r| %>
      <tr>
        <td><%=h r.object.lab_test.name %>
        <td>
          <% if r.object.lab_test.derivation %>
            <%=h r.object.formatted_value %>
          <% else %>
            <% if r.object.lab_test.lab_test_values.blank? %>
              <%= r.text_field :value, :size => 13 %>
            <% else %>
              <%= r.collection_select :value_number, LabTest.find(r.object.lab_test_id).lab_test_values, :id, :value, { :include_blank => true } %>
              <%= r.text_field :value, :size => 13 if r.object.lab_test.also_numeric %>
            <% end %>
          <% end %>
        </td>
        <td><%=h r.object.lab_test.lab_test_unit.name if r.object.lab_test.lab_test_unit %></td>
        <td><%=h r.object.range %></td>
      </tr>
    <% end %>
  </table>
  </div>

  <p>
    <%= a.submit "Save" %>
    <%= link_to "Report", report_accession_path(@accession), :method => :put unless @accession.reported_at %>
  </p>  
<% end %>
