<% title "Enter Results" %>

<% form_for @accession do |a| %>
  <%= a.error_messages %>
  
  <h3>Results</h3>
  <div class="results">
  <table>
    <% a.fields_for :results do |r| %>
      <tr>
        <td><%=h r.object.lab_test.name %>
        <td>
          <% if r.object.lab_test.derivation %>
            <%=h r.object.formatted_value %>
          <% else %>
            <% if r.object.lab_test.lab_test_values.blank? %>
              <%= r.text_field :value, :size => 13 %>
            <% else %>
              <%= r.collection_select :lab_test_value_id, LabTest.find(r.object.lab_test_id).lab_test_values, :id, :value, { :include_blank => true } %>
              <%= r.text_field :value, :size => 13 if r.object.lab_test.also_numeric %>
            <% end %>
          <% end %>
        </td>
        <td><%=h r.object.lab_test.unit.name if r.object.lab_test.unit %></td>
        <td><%=h r.object.range %></td>
      </tr>
    <% end %>
  </table>
  </div>

  <p>
    <%= a.submit "Save" %>
    <%= link_to "Report", report_accession_path(@accession), :method => :put unless @accession.reported_at %>
  </p>  
<% end %>

        <%= hidden_field_tag 'department_id', Department.find_by_name(department).id %>



    <% a.object.notes.group_by(&:department_name).each do |note_department, notes| %>
      <% notes.each do |note| %>
        <% fields_for "accession[note_attributes][]", note do |n| %>
          <%= n.text_area :content, :rows => 3 if note_department == department %>
          <%= hidden_field_tag 'department_id', Department.find_by_name(department).id %>
        <% end %>
      <% end %>
    <% end %>
    <!-- Notes should be created when creating the accession -->
