<h2>
  Accession #<%=h @accession.id %>
</h2>
  <strong>Patient:</strong>
  <%=h @accession.patient.full_name %>
</p>
<p>
  <strong>Drawn At:</strong>
  <%=h @accession.drawn_at %>
</p>
<p>
  <strong>Received At:</strong>
  <%=h @accession.received_at %>
</p>
<p>
  <strong>Reported At:</strong>
  <%=h @accession.completed_at %>
</p>

<p>
  <%= link_to "Edit", edit_accession_path(@accession) %> |
  <%= link_to "Destroy", @accession, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", accessions_path %>
</p>

<p>
  <% @lab_test_department_names.each do |department_name, lab_test_results| %>
    <h3>
      <%=h department_name %>
    </h3>
    <% for lab_test_result in lab_test_results %>
      <p>
        <%=h lab_test_result.lab_test.name %>:
        <%=h lab_test_result.value %>
        <%= lab_test_result.lab_test.lab_test_unit.name %>
        (<%=h lab_test_result.range_min %> - <%=h lab_test_result.range_max %>)
      </p>
    <% end %>
  <% end %>
</p>
