<% title "#{t('.title')} ##{@accession.id.to_s}" %>

<fieldset>
  <% @results.each do |department, results| %>
    <h2><%=h department %></h2>
    <table class="results">
      <tbody>
        <% reset_cycle("alternating_row_colors") %>         
        <%= render results %>
      </tbody>
    </table>
  <% end %>

  <div class="buttonbar">
    <%= link_to t('.change_accession'), edit_accession_path(@accession) %> |
    <%= link_to t('.enter_results'), edit_results_accession_url(@accession) %> |
    <% unless @accession.reported_at %>
      <%= link_to t('.report'), report_accession_path(@accession), :method => :put %> |
    <% end %>
    <%= link_to t('.print_report'), accession_results_path(@accession, :format => 'pdf') %>
  </div>
</fieldset>