<% title "Accession #" + @accession.id.to_s %>
<p>
  <strong><%= t 'patients.full_name' %>:</strong>
  <%=h @accession.patient.full_name %>
</p>
<p>
  <strong><%= t 'patients.age' %>:</strong>
  <%=h @accession.patient.age %>
</p>
<p>
  <strong><%= t 'accessions.drawn_at' %>:</strong>
  <%=h @accession.drawn_at %>
</p>
<p>
  <strong><%= t 'accessions.received_at' %>:</strong>
  <%=h @accession.received_at %>
</p>
<p>
  <strong><%= t 'accessions.reported_at' %>:</strong>
  <%=h @accession.reported_at %>
</p>

<p>
<table>
  <% @departments.each do |name, results| %>
    <tr><td><h3><%=h name %></h3></td></tr>
    <% for result in results %>
      <div><tr>
        <td><%=h result.lab_test.name %></td>
        <td><% unless result.lab_test.derivation? %>
          <%=h number_with_precision(result.value, :precision => result.lab_test.decimals, :delimiter => ',') %>
        <% else %>
          <% code = result.lab_test.code.underscore %>
          <%=h @accession.ldl %>
        <% end %></td>
        <td><%=h result.lab_test.lab_test_unit.name %></td>
        <td><%=h result.range %></td>
      </tr></div>
    <% end %>
  <% end %>
</table>
</p>
