<% title "Lab Tests" %>

<ul class="lab_tests">
  <% @lab_tests.each do |department, lab_tests| %>
    <h3><%=h department %></h3>
    <% for lab_test in lab_tests %>
      <% content_tag_for :li, lab_test do %>
        <div class="handle">[handle]</div>
        <%=h lab_test.code %>
        <%=h lab_test.name %>
        <%=h lab_test.procedure %>
        <%=h lab_test.description %>
        <%=h lab_test.decimals %>
        <%=h lab_test.unit.name unless lab_test.unit.nil? %>
        <%= link_to "Show", [:admin, lab_test] %>
        <%= link_to "Edit", edit_admin_lab_test_path(lab_test) %>
        <%= link_to "Destroy", [:admin, lab_test], :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
    <% end %>
  <% end %>
</ul>

<p><%= link_to "New Lab Test", new_admin_lab_test_path %></p>
