<tr>
  <td><%= link_to h(patient.full_name), patient %></td>
  <td><%=h patient.gender %></td>
  <td><%=h patient.age %></td>
  <td><%=h patient.identifier %></td>
  <td><%=h patient.address %></td>
</tr>
