<% title "Patients" %>

<% form_tag patients_path, :method => 'get' do %>
  <p class="content">
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<% if @patients.empty? %>
  <p class="content">No patients found. <%= link_to "All patients", patients_path %></p>
<% else %>
  <div class="patients">
    <table>
      <tr>
        <th>Name</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Identifier</th>
        <th>Address</th>
      </tr>
      <%= render @patients %>
    </table>
  </div>
<% end %>

<p><%= link_to "New Patient", new_patient_path %></p>
