<% title t('.title') %>

<% form_tag patients_path, :method => 'get' do %>
  <p class="content">
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag t('.search'), :name => nil %>
  </p>
<% end %>

<% if @patients.empty? %>
  <p class="content"><%= t('.not_found') %><%= link_to t('.all_patients'), patients_path %></p>
<% else %>
  <div class="patients">
    <%= render @patients %>
  </div>
<% end %>

<p><%= link_to t('.new_patient'), new_patient_path %></p>
