<% title t('.title') %>

<div class='title_tools'>
  <%= link_to t('.new_patient'), new_patient_path %> |
  <a href="#" onclick="new Ajax.Request('/contacts/options', {asynchronous:true, evalScripts:true, method:'get', parameters:{ cancel: Element.visible('options') }}); return false;"><abbr id="options_arrow">&#9658;</abbr>&nbsp;<%= t('.options') %></a>
</div>

<div class='title'>
  <span><%= t('.title')%></span>
  <%= image_tag("loading.gif", :style => "display: none;", :size => "16x16") %>
</div>

<div class='list' id="patients">
  <%= render "patients" %>
</div>
