<% title "Doctors" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for doctor in @doctors %>
    <tr>
      <td><%=h doctor.name %></td>
      <td><%= link_to "Show", doctor %></td>
      <td><%= link_to "Edit", edit_doctor_path(doctor) %></td>
      <td><%= link_to "Destroy", doctor, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Doctor", new_doctor_path %></p>
