<% form_for @lab_test_value_option do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :lab_test_id %><br />
    <%= f.collection_select :lab_test_id, LabTest.all, :id, :name %>
  </p>
  <p>
    <%= f.label :numeric %><br />
    <%= f.check_box :numeric %>
  </p>
  <p>
    <%= f.label :ratio %><br />
    <%= f.check_box :ratio %>
  </p>
  <p>
    <%= f.label :range %><br />
    <%= f.check_box :range %>
  </p>
  <p>
    <%= f.label :fraction %><br />
    <%= f.check_box :fraction %>
  </p>
  <p>
    <%= f.label :text_length %><br />
    <%= f.text_field :text_length %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
