<% title "Lab Test Value Options" %>

<table>
  <tr>
    <th>Test</th>
    <th>Numeric</th>
    <th>Ratio</th>
    <th>Range</th>
    <th>Fraction</th>
    <th>Text Length</th>
    <th>Lab Test Values</th>
  </tr>
  <% for lab_test_value_option in @lab_test_value_options %>
    <tr>
      <td><%=h lab_test_value_option.lab_test.name %></td>
      <td><%=h lab_test_value_option.numeric %></td>
      <td><%=h lab_test_value_option.ratio %></td>
      <td><%=h lab_test_value_option.range %></td>
      <td><%=h lab_test_value_option.fraction %></td>
      <td><%=h lab_test_value_option.text_length %></td>
      <td>
        <table><% for lab_test_value_option_joint in lab_test_value_option.lab_test_value_option_joints %>
          <tr>
            <td><%=h lab_test_value_option_joint.lab_test_value.value %></td>
          </tr>
        <% end %></table>
      </td>
      <td><%= link_to "Show", lab_test_value_option %></td>
      <td><%= link_to "Edit", edit_lab_test_value_option_path(lab_test_value_option) %></td>
      <td><%= link_to "Destroy", lab_test_value_option, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Lab Test Value Option", new_lab_test_value_option_path %></p>
