<% title "Insurance Providers" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for insurance_provider in @insurance_providers %>
    <tr>
      <td><%=h insurance_provider.name %></td>
      <td><%= link_to "Show", insurance_provider %></td>
      <td><%= link_to "Edit", edit_insurance_provider_path(insurance_provider) %></td>
      <td><%= link_to "Destroy", insurance_provider, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Insurance Provider", new_insurance_provider_path %></p>
