<h1><%= link_to "MasterLab", "http://www.labtecsa.com" %></h1>

<%= render_error_messages @user_session %>

<% labeled_form_for @user_session do |f| %>
  <%= f.text_field :username, :label => t('.username') %>
  <%= f.password_field :password, :label => t('.password') %>
  <%= f.submit t('.submit') %>
<% end %>
