<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'application', 'jquery-ui' %>
    <%= javascript_include_tag 'jquery', 'jquery-ui', 'application' %>
    <%= yield(:head) %>
  </head>
  <body>
    <ul id="menu">
      <li><%= link_to "Patients", :patients %></li>
      <li><%= link_to "Order Tests", :new_lab_test_result %></li>
    </ul>
    <div id="container">      
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
      
      <%- if show_title? -%>
        <h2><%=h yield(:title) %></h2>
      <%- end -%>
      
      <%= yield %>
    </div>
  </body>
</html>
