<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>Login</title>
    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'jquery-ui' %>
    <%= javascript_include_tag 'login' %>
    <%= stylesheet_link_tag 'login' %>
  </head>
  <body class="login">
    <div id="login">
      <%= yield %>
    </div>
  </body>
</html>
